.dashboard-layout {
  display: flex;
  height: 100vh;
  width: 100%;
  background: #f5f6fa; 
}

.dashboard-main {
  display: flex;
  flex-direction: column;
  flex: 1;
  background: #f1f1f1;
}

.dashboard-header {
  height: 65px;
  background: white;
  border-bottom: 1px solid #e6e6e6;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 25px;
  border-bottom: #E2E8F0 solid 3px;
}

.section-title {
  font-size: 20px;
  font-weight: 600;
}

.header-user {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 14px;
}

.avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #f0d9b5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dashboard-content {
  padding: 25px;
  flex: 1;
} 

/* ------------- Responsive  -------------*/

@media (max-width: 1024px) {
  .dashboard-layout {
    height: auto;
    min-height: 100vh;
  }
}

@media (max-width: 768px) {

  .dashboard-header {
    padding: 0 15px;
    height: 58px;
  }

  .section-title {
    font-size: 18px;
  }

  .header-user span {
    display: none;
  }

  .dashboard-content {
    padding: 15px;
  }
}


@media (max-width: 480px) {
  .section-title {
    font-size: 16px;
  }

  .avatar {
    width: 30px;
    height: 30px;
  }
}