.sidebar {
  width: 240px;
  height: 100vh;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
  border: #E2E8F0 solid 2px;
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}

.logoIcon {
  background-color: #1A57DB;
  color: white;
  padding: 8px;
  border-radius: 8px;
}

.logoText {
  font-weight: bold;
  font-size: 18px;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.navItem {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 12px;
  border-radius: 8px;
  text-decoration: none;
  color: #475569;
  font-size: 14px;
  transition: background 0.2s;
}

.navItem:hover {
  background-color: rgba(26,87,219,0.2);
}

.navItem:hover svg,
.navItem:hover span {
  color: #2563eb;
}

.navItem.active {
  background-color: #dbeafe;
  color: #2563eb;
  font-weight: 500;
}

.footer {
  padding: 10px 12px;
  border-radius: 8px;

  margin-top: auto;
  transition: background 0.2s;
}

.footer:hover {
  background-color: rgba(255, 0, 0, 0.2);
}

.logout {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #4b5563;
  font-size: 14px;
  cursor: pointer;
}

.logout:hover svg,
.logout:hover span {
  color: rgb(255, 0, 0);
}

/* ------------- Responsive  -------------*/

@media (max-width: 1024px) {
  .sidebar {
    width: 70px;
    padding: 12px;
  }

  .logoText,
  .navItem span,
  .logout span {
    display: none;
  }

  .navItem {
    justify-content: center;
  }

  .logout {
    justify-content: center;
  }
}